<a href="https://colab.research.google.com/github/sametgirgin/Data-Analysis-Cheat-Sheet/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives:</strong>
<ul>
    <li>List popular languages that Data Scientists use.</li>
    <li>List commonly used libraries used by Data Scientists.</li>
    <li>Comment on Data Science tools.</li>
</ul>

Some of the popular languages that Data Scientists use are:


1.   Python
2.   R
3.   SQL

Some of the commonly used libraries used by Data Scientists include:



1.   Pandas
2.   Numpy
3.   Matplotlib


Data Science Tools

<table style="width:100%">
  <tr>
    <th>Data Science Tools</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>SAS. It is one of those data science tools which are specifically designed for statistical operation</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Apache Spark</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>BigML</td>
    <td></td>
    <td></td>
  </tr>
</table>

###Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
x = (3*4)+5
print (x)

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
days = 0
hours = 0
mins = 0

time = 200
days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0.1388888888888889 days, 3.3333333333333335 hours, -200.0 mins.

<p>Below the introduction cell created in Exercise 3, insert a new

---

markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.</p>

<h2>Author:</h2> Samet Girgin